<nav class="simple-sidebar" aria-label="Quick navigation">
  <ul class="simple-sidebar-menu">
    <li><a href="{{{ config.wwwroot }}}/my/" aria-label="Home"><span class="fa fa-home" aria-hidden="true"></span> <span class="label">{{#str}}home{{/str}}</span></a></li>
    <li><a href="{{{ config.wwwroot }}}/course/index.php" aria-label="Courses"><span class="fa fa-book" aria-hidden="true"></span> <span class="label">{{#str}}courses{{/str}}</span></a></li>
    <li><a href="{{{ config.wwwroot }}}/user/profile.php" aria-label="Profile"><span class="fa fa-user" aria-hidden="true"></span> <span class="label">{{#str}}profile{{/str}}</span></a></li>
    <li><a href="{{{ config.wwwroot }}}/user/preferences.php" aria-label="Settings"><span class="fa fa-cog" aria-hidden="true"></span> <span class="label">{{#str}}settings{{/str}}</span></a></li>
  </ul>
</nav>
